*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: rgba(34, 60, 80, 1.16);
}
.menu-item:hover{
    font-size: 22px;
    border-bottom: 2px solid gray;
}
img{
    width: 100%;
}

.nav{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
    background-color: rgb(219, 213, 213);
    box-shadow: -1px 12px 17px 2px rgba(34, 60, 80, 0.16);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu li{
    padding: 15px;
    font-size: 20px;
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.call{
    
    padding: 15px;
    font-size: 20px;
    background-color: rgb(213, 208, 208);  
    border-radius:  30px;
}
.call:hover{
    font-size: 22px;
    border-bottom: 2px solid gray;

}
@media (max-width:1232px ){
    .nav{
        grid-template-columns: 2fr 1fr;
    }
    .logo{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .menu{
        font-size: 25px;
    }
    .logo-img{
        width: 350px;
    }

}